<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }
  .template-404-image {
    width: 50vw;
    max-width: 1344px;
  }

  .template-404 p {
    margin-top: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    color: rgb(var(--color-foreground));
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
    .template-404 p {
      font-size: 32px;
    }
  }
  @media screen and (min-width: 990px) {
    .template-404 p {
      font-size: 48px;
    }
  }
  @media screen and (min-width: 1200px) {
    .template-404 p {
      font-size: 65px;
    }
  }
</style>

<div class="template-404 page-width page-margin center">
  {%- if section.settings.title != blank -%}
    <h1 class="title">
      {{ 'templates.404.title' | t }}
    </h1>
  {%- endif -%}

  {%- if section.settings.image -%}
    {{
      section.settings.image
      | image_url: width: 1344
      | image_tag:
        width: 1344,
        class: 'template-404-image'
    }}
  {%- endif -%}

  {%- if section.settings.text != blank -%}
    {{ section.settings.text }}
  {%- endif -%}

  {%- if section.settings.button -%}
    <a href="{{ routes.all_products_collection_url }}" class="button">
      {{ section.settings.btn_text }}
    </a>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "404",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Sorry, the page not found</p>",
      "label": "Text"
    },
    {
      "type": "checkbox",
      "id": "title",
      "default": false,
      "label": "Show title"
    },
    {
      "type": "checkbox",
      "id": "button",
      "default": false,
      "label": "Show button"
    },
    {
      "type": "text",
      "id": "btn_text",
      "default": "Continue Shopping",
      "label": "Button text"
    }
  ]
}
{% endschema %}
