{%-liquid
    assign sid = section.id
    assign se_stts = section.settings  
    assign se_blocks = section.blocks  
    assign stt_layout = se_stts.layout
    assign stt_image_bg = se_stts.image_bg
    if stt_layout == 't4s-se-container' 
        assign html_layout = '<div class="t4s-container">__</div></div>' | split:'__'
    elsif stt_layout == 't4s-container-wrap'
        assign html_layout = '<div class="t4s-container">__</div>' | split:'__'
    else
        assign html_layout = '__' | split:'__'
    endif 
    assign page_content = page.content   
    assign t4s_se_class = 't4s_nt_se_' |append:sid
    if se_stts.use_cus_css and se_stts.code_cus_css != blank
        render 'se_cus_css',code_cus_css:se_stts.code_cus_css,t4s_se_class:t4s_se_class
    endif 

    assign first_tab_title = se_stts.first_tab_title
    assign second_tab_title = se_stts.second_tab_title
-%}

<div class="t4s-section-inner page-width page-width--narrow {{t4s_se_class}} t4s_nt_se_{{sid}} {{stt_layout}}{% if stt_image_bg != blank and stt_layout != 't4s-se-container' %} t4s-has-imgbg lazyloadt4s{% endif %}" {% if stt_image_bg != blank and stt_layout != 't4s-se-container' %} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="2"{% endif %} {% render 'section_style',se_stts:se_stts -%} >
    {{-html_layout[0]-}}
    {%- if stt_layout == 't4s-se-container' -%}
        <div class="t4s-container-inner{% if stt_image_bg != blank %} t4s-has-imgbg lazyloadt4s{% endif %}" {% if stt_image_bg != blank %} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="2"{% endif %}>{% endif -%}
            <h2 class="t4s-section-title warranty_form_title">{{ se_stts.warranty_title }}</h2>
            <h4 class="t4s-section-subtitle warranty_form_subtitle">{{ se_stts.warranty_subtitle }}</h4>
        <div class="t4s-row t4s-justify-content-center">
            <div class="warranty_nav">
                <p class="warranty_nav_item active" data-id="warranty_tab_{{ section.id }}_1">{{ se_stts.first_tab_title }}</p>
                <p class="warranty_nav_item" data-id="warranty_tab_{{ section.id }}_2">{{ se_stts.second_tab_title }}</p>
                <p class="warranty_nav_item" data-id="warranty_tab_{{ section.id }}_3">{{ se_stts.third_tab_title }}</p>
            </div>
            <div class="warranty_tabs">
                <div id="warranty_tab_{{ section.id }}_1" class="warranty_tab_item warranty_tab_first open"> 
                    {% render 'warranty-extension-form' %}
                </div>

                <div id="warranty_tab_{{ section.id }}_2" class="warranty_tab_item warranty_tab_second">
                    {% render 'after-sales-service-form.liquid' %}
                </div>

                <div id="warranty_tab_{{ section.id }}_3" class="warranty_tab_item warranty_tab_third"> 
                    {% render 'coin-batteries-form' %}
                </div>
            </div>
        </div>
    {{-html_layout[1]-}}
</div>

<script type="module">

    // init firebase App
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.0.0/firebase-app.js";
    import { getStorage, ref, uploadBytes, getDownloadURL } from "https://www.gstatic.com/firebasejs/9.0.0/firebase-storage.js";

    const firebaseConfig = {
        apiKey: "AIzaSyDrDQAyrugmI1PVOTW0hSK-6jt0lxtzmvM",
        authDomain: "rometechbatteries-test.firebaseapp.com",
        projectId: "rometechbatteries-test",
        storageBucket: "rometechbatteries-test.appspot.com",
        messagingSenderId: "773880603728",
        appId: "1:773880603728:web:70ec23b7ba20c9628b9d55",
        measurementId: "G-ELMSWK7988"
    };

    const firebaseApp = initializeApp(firebaseConfig);
    const firebaseStorage = getStorage();

    //console.log('test app', firebaseApp, firebaseStorage)


    // submiting the form
    document.querySelectorAll('.contact-warranty-form').forEach((form) => {
        const clearFormInputs = function(){
            form.reset();
        };
        clearFormInputs();

        form.addEventListener('submit', function(e){
            e.preventDefault();

            form.classList.add('progress');

            const formData = new FormData(form); 

            const sendDataToGoogleTable = function(){
                fetch('{{ se_stts.script-url }}', { 
                    method: 'POST',
                    body: formData
                }).then(response => {
                    //console.log(response);
                    clearFormInputs();
                    return response.text();
                }).then(data => {
                    console.log('data sent successfully!');
                    form.classList.remove('progress');
                    form.classList.add('posted');
                }).catch(error => {
                    console.error('Error:', error);
                });
            };

            // upload file if input exist
            if (form.classList.contains('contact-form-with-media')){

                const file = form.querySelector('.fileupload-input').files[0];

                if (file) {
                    const unicRef = 'images/' + file.name;
                    const storageRef = ref(firebaseStorage, unicRef);

                    uploadBytes(storageRef, file).then((snapshot) => {
                        console.log('Uploaded a blob or file!',snapshot);
                        getDownloadURL(snapshot.ref).then((downloadURL) => {
                            console.log('File available at', downloadURL);
                            if (downloadURL) {
                                formData.append('file',downloadURL);
                            }
                            sendDataToGoogleTable();
                        });

                    });

                } else {
                    console.log('file empty',file);
                    formData.set('file','');
                    sendDataToGoogleTable();
                }
            } else {
                sendDataToGoogleTable();
            }

        });
    });

    // other option input show/hide
    document.querySelectorAll('.contact-warranty-form').forEach((form) => {
        const otherInput = form.querySelector('.form-radio-other-input');
        
        form.querySelectorAll('.form-radio-jointed').forEach((radio) => {
            radio.addEventListener("change", function(e){
                if (radio.value === 'other') {
                    otherInput.classList.add('show');
                } else {
                    otherInput.classList.remove('show');
                }
            });
        });
    });

    // input type file view
    document.querySelectorAll('.contact-warranty-form .fileupload-input').forEach((input) => {
        input.addEventListener("change", function(e){
            if (input.files[0]){
                input.parentNode.classList.add('loaded');
            } else {
                input.parentNode.classList.remove('loaded');
            }
        });
    });

    // OrderID input validation
    document.querySelectorAll('.contact-warranty-form .form-textbox[name="orderId"]').forEach((input) => { 
        input.addEventListener('input', function () {
            this.value = this.value.replace(/[^a-zA-Z0-9-]/g, '');
        });
    });

    // Email input validation
    document.querySelectorAll('.contact-warranty-form .form-textbox[name="yourEmail"]').forEach((input) => { 
        const errorMessage = input.nextElementSibling;
        const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

        input.addEventListener('input', function () { 
            this.value = this.value.replace(/[^a-zA-Z0-9.@_-]/g, '');
            if (emailPattern.test(this.value)) {
                errorMessage.textContent = '';
            }
        });

        input.addEventListener('change', function () { 
            if (!emailPattern.test(this.value)) {
                errorMessage.textContent = 'Incorrect email format';
            } else {
                errorMessage.textContent = '';
            }
        });
    });

</script>


<style>
    /* styles for warranty form */
    .contact-warranty-form .posted-message {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        display: none;
        z-index: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-warranty-form.posted {
        max-height: 100vh;
    }
    .contact-warranty-form.posted .posted-message {
        display: flex;
    }
    .contact-warranty-form .form-multiple-column {
        display: flex;
        flex-wrap: wrap;
        width: 100;
    }
    .contact-warranty-form .form-line {
        position: relative;
    }
    .contact-warranty-form .form-column-1 {
        margin: 15px 0;
    }
    .contact-warranty-form .form-column-3 {
        width: 100%;
        margin-bottom: 10px;
    }
    @media screen and (min-width: 481px) {
        .contact-warranty-form .form-column-3 {
            width: 50%;
        }
    }
    @media screen and (min-width: 881px) {
        .contact-warranty-form .form-column-3 {
            width: 33.33%;
        }
    }
    .contact-warranty-form .form-title {
        text-transform: uppercase;
        font-weight: 500;
    }
    .contact-warranty-form .form-textbox,
    .contact-warranty-form .form-textarea {
        font-size: 16px;
        border-width: 0 0 1px 0;
        box-shadow: none;
        border-color: #141414;
    }
    .contact-warranty-form .form-sub-label {
        display: block;
        margin-top: 10px;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0;
        color: #464d5f;
    }
    .contact-warranty-form .form-radio {
        margin: 0 5px 0 0;
    }
    .contact-warranty-form .form-radio-other-input {
        height: 0 !important;
        overflow: hidden !important;
        transition: height 0.3s linear !important;
        opacity: 0;
    }
    .contact-warranty-form .form-radio-other-input.show {
        height: 40px !important;
        opacity: 1;
    }
    .contact-warranty-form .form-submit-button {
        min-width: 210px;
    }
    .contact-warranty-error {
        margin: 0;
        position: absolute;
        bottom: -16px;
        left: 0;
        color: #bc1010;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
    }
    .contact-warranty-form .form-fileupload {
        padding: 10px 0;
        margin-bottom: 20px;
    }
    .contact-warranty-form .fileupload-label {
        width: 100px;
        height: 100px;
        display: block;
        border-radius: 10px;
        border: 3px dashed lightgray;
        position: relative;
        cursor: pointer;
    }
    .contact-warranty-form .fileupload-label.loaded {
        border-color: rgb(var(--color-accent));
    }
    .contact-warranty-form .fileupload-label:before {
        content: '';
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        top: 27px;
        left: 27px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23d3d3d3'%3e%3cpath d='M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .contact-warranty-form .fileupload-label:after {
        content: '';
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        top: 27px;
        left: 27px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%2300e04f'%3e%3cpath d='M440-200h80v-167l64 64 56-57-160-160-160 160 57 56 63-63v167ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0;
    }
    .contact-warranty-form .fileupload-label.loaded:before {
        opacity: 0;
    }
    .contact-warranty-form .fileupload-label.loaded:after {
        opacity: 1;
    }
    .contact-warranty-form .fileupload-input {
        display: none;
    }
    .contact-warranty-form {
        position: relative;
    }
    .contact-warranty-form:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        display: none;
        z-index: 1;
    }
    .contact-warranty-form:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -30px;  
        margin-left: -30px;
        width: 50px;
        height: 50px; 
        border-radius: 50px;
        border: 5px solid lightgray;
        border-top-color: gray;
        animation: loading 1.5s linear infinite;
        display: none;
        z-index: 2;
    }
    .contact-warranty-form.progress:before,
    .contact-warranty-form.progress:after {
        display: block;
    }
    @keyframes loading {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    /* end styles for warranty form */

.t4s-contact-form input.t4s-input--error {
    border-color: var(--t4s-error-color)!important;
    margin-bottom: 5px;
}
.t4s-contact-form input[type=date],
.t4s-contact-form input[type=email],
.t4s-contact-form input[type=number], 
.t4s-contact-form input[type=password],
.t4s-contact-form input[type=tel],
.t4s-contact-form input[type=text],
.t4s-contact-form input[type=url],
.t4s-contact-form select,
.t4s-contact-form textarea {
    width: 100%;
    height: 40px;
    line-height: 18px;
    transition: border-color .5s;
    box-shadow: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.t4s-contact-form .t4s-input-textarea{
    min-height: 230px;
    overflow:hidden;
    padding: 10px 15px;
}

.t4s-contact-form .t4s-fine-print{font-style:italic}
.t4s-contact-form .t4s-input-error-message i{color:var(--t4s-error-color);margin-right:5px;}
.t4s-contact-form .t4s-form-message ul li{
    list-style:disc;
}
.t4s-contact-form .t4s-form-message--error{
    color: #651818;
    border: 1px solid var(--t4s-error-color);
    background-color: #fff8f8;
    padding: 15px 20px;
    text-align: left;
    width: 100%;
    margin: 0 0 27.5px;
}
.t4s-contact-form .t4s-form-message__title {
    font-size: 14px;
    margin-bottom: 10px;
}
.t4s-contact-form .t4s-form-title,
.t4s-contact-form .t4s-info-heading{
    margin-top:20px;
    margin-bottom:20px;  
}

.t4s-contact-form .t4s-btn-style-bordered,
.t4s-contact-form .t4s-btn-style-link{
    border-top: none;
    border-right: none;
    border-left: none;
}
.t4s-contact-form .t4s-btn-style-link{
    border-bottom: none;
}
.warranty_form_title {
    text-transform: uppercase;
    font-size: 37px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: -0.015em;
    text-align: center;
    margin-bottom: 20px;

}
.warranty_form_subtitle {
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 30px;
}
.warranty_form_subtitle p {
    margin: 0;
}
.warranty_nav {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #141414;
}
.warranty_nav_item {
    margin: 0 10px -1.5px;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-bottom: none;
    position: relative;
    bottom: 0;
    cursor: pointer;
    color: #8F8F8F;
}
.warranty_nav_item.active {
    background: #fff;
    border-color: #141414;
    color: #000;
}
.warranty_tabs {
    padding-top: 30px;
    width: 100%;
}
.warranty_tabs {
    overflow: hidden;
    position: relative;
}
.warranty_tab_item:not(.open) {
    position: absolute;
    top: 0;
    left: 100%;
    opacity: 0;
}
.warranty_form_option-title {
    font-size: 38px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
}
.warranty_form_options {
    margin: 30px 0;
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr ;
    grid-template-rows: repeat(2, 1fr);
}
.warranty_form_options_item:nth-child(1){
    grid-area: 1 / 1 / 2 / 2;
}
.warranty_form_options_item:nth-child(2){
    grid-area: 2 / 1 / 3 / 2;
}
.warranty_form_options_item:nth-child(3){
    grid-area: 1 / 2 / 2 / 3; 
}
.warranty_form_options_item:nth-child(4){
    grid-area: 2 / 2 / 3 / 3;
}
.warranty_form_options_item:nth-child(5){
    grid-area: 1 / 3 / 2 / 4; 
}
.warranty_form_options_item:nth-child(6){
    grid-area: 2 / 3 / 3 / 4; 
}
.warranty_form_options_item:nth-child(7){
    grid-area: 1 / 4 / 2 / 5; 
}
.warranty_form_options_item:nth-child(8){
    grid-area: 2 / 4 / 3 / 5; 
}
.warranty_form_detail-wrap,
.warranty_form_contact-wrap {
    margin: 30px 0;
    padding: 0 30px;
}
.warranty_form_detail {
    display: flex;
    flex-direction: column;
}
.warranty_form_detail-note {
    margin-top: 10px;
    display: flex;
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #8F8F8F;
}
.warranty_form_detail-note span:first-child {
    flex-shrink: 0;
    margin-right: 10px;
}
.warranty_form_detail-lable {
    margin-bottom: 20px;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    color: #000;
}
.warranty_form_detail-lable input,
.warranty_form_other-item {
    font-weight: normal;
}
.jotform-form .form-all {
    max-width: 100%;
    box-shadow: none;
    margin-top: 0;
}
.jotform-form .form-input-wide {
    width: 100% !important;
}
.jotform-form .form-input-wide input {
    border-radius: 0 !important;
    border-width: 0 0 1px !important;
}
.jotform-form .formFooter[class^="branding*"]  {
    display: none;
}
</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll('.warranty_nav_item').forEach(item => {
        item.addEventListener('click', function() {
            const trigger = this;
            const selector = '#' + trigger.getAttribute('data-id');

            trigger.parentElement.querySelectorAll('.warranty_nav_item').forEach(sibling => {
                sibling.classList.remove('active');
            });
            trigger.classList.add('active');

            const tabItems = trigger.parentElement.parentElement.querySelectorAll('.warranty_tab_item');
            tabItems.forEach(tabItem => {
                tabItem.classList.remove('open');
            });
            document.querySelector(selector).classList.add('open');
        });
    });
});
</script>

{%- schema -%}
{
    "name": "Warranty Form",
    "tag": "section",
    "class": "t4s-section t4s-section-main t4s-contact-form",
    "settings":[
        {
            "type": "header",
            "content": "1.General options"
        },
        {
            "type": "select","id": "layout","default": "t4s-container-wrap","label": "Layout",
            "options": [
                { "value": "t4s-se-container", "label": "Container"},
                { "value": "t4s-container-wrap", "label": "Wrapped container"},
                { "value": "t4s-container-fluid", "label": "Full width"}
            ]
        },
        {
            "type": "text",
            "id": "warranty_title",
            "label": "Warranty title",
            "default": "Warranty Extension & After-sales Service"
        },
        {
            "type": "richtext",
            "id": "warranty_subtitle",
            "label": "Warranty subtitle",
            "default": "<p>To activate the warranty, please click “Warranty Extension” For any questions or comments about the product, please click “After-sales Service”</p>"
        },
        {
            "type": "text",
            "id": "first_tab_title",
            "label": "First tab title",
            "default": "Warranty Extension"
        },
        {
            "type": "text",
            "id": "second_tab_title",
            "label": "Second tab title",
            "default": "After-sales Service"
        },
        {
            "type": "text",
            "id": "third_tab_title",
            "label": "Third tab title",
            "default": "Coin Batteries Replacement"
        },
        {
            "type": "richtext",
            "id": "first_form_success",
            "label": "First Form success mesage",
            "default": "<p>Your Warranty Form Have Been Submitted.</p><p>Thank you!</p>"
        },
        {
            "type": "richtext",
            "id": "second_form_success",
            "label": "Second Form success mesage",
            "default": "<p>Your After-sales Form Have Been Submitted.</p><p>Thank you!</p>"
        },
        {
            "type": "richtext",
            "id": "third_form_success",
            "label": "Third Form success mesage",
            "default": "<p>Your Batteries Replacement Form Have Been Submitted.</p><p>Thank you!</p>"
        },
        {
            "type": "text",
            "id": "script-url",
            "label": "url of script for writing to Google table"
        },
        {
            "type": "color",
            "id": "cl_bg",
            "label": "Background"
        },
        {
            "type": "color_background",
            "id": "cl_bg_gradient",
            "label": "Background gradient"
        },
        {
            "type": "image_picker",
            "id": "image_bg",
            "label": "Background image"
        },
        {
            "type": "text",
            "id": "mg",
            "label": "Margin",
            "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
            "default": "50px,,50px,",
            "placeholder": ",,50px,"
        },
        {
            "type": "text",
            "id": "pd",
            "label": "Padding",
            "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
            "placeholder": "50px,,50px,"
        },
        {
            "type": "header",
            "content": "+ Design Tablet Options"
        },
        {
            "type": "text",
            "id": "mg_tb",
            "label": "Margin",
            "placeholder": ",,50px,"
        },
        {
            "type": "text",
            "id": "pd_tb",
            "label": "Padding",
            "placeholder": ",,50px,"
        }, 
        {
            "type": "header",
            "content": "+ Design mobile options"
        },
        {
            "type": "text",
            "id": "mg_mb",
            "label": "Margin",
            "default": ",,30px,",
            "placeholder": ",,50px,"
        },
        {
            "type": "text",
            "id": "pd_mb",
            "label": "Padding",
            "placeholder": ",,50px,"
        },
        {
            "type": "header",
            "content": "2. Custom css"
        },
        {
            "id": "use_cus_css",
            "type": "checkbox",
            "label": "Use custom css",
            "default":false,
            "info": "If you want custom style for this section."
        },
        { 
            "id": "code_cus_css",
            "type": "textarea",
            "label": "Code custom css",
            "info": "Use selector .SectionID to style css"
            
        }
    ],
    "blocks":[
        {
            "name":"First form radio",
            "type":"first_form_radio",
            "limit":2,
            "settings":[
                {
                    "type":"text",
                    "id":"heading",
                    "label":"Options Heading"
                },
                {
                    "type":"header",
                    "content":"Options"
                },
                {
                    "type":"text",
                    "id":"option_1",
                    "label":"Option 1 name"
                },
                {
                    "type":"text",
                    "id":"option_2",
                    "label":"Option 2 name"
                },
                {
                    "type":"text",
                    "id":"option_3",
                    "label":"Option 3 name"
                },
                {
                    "type":"text",
                    "id":"option_4",
                    "label":"Option 4 name"
                },
                {
                    "type":"text",
                    "id":"option_5",
                    "label":"Option 5 name"
                },
                {
                    "type":"text",
                    "id":"option_6",
                    "label":"Option 6 name"
                },
                {
                    "type":"text",
                    "id":"option_7",
                    "label":"Option 7 name"
                },
                {
                    "type":"text",
                    "id":"option_8",
                    "label":"Option 8 name"
                },
                {
                    "type":"checkbox",
                    "id":"option_other",
                    "label":"Show other option",
                    "default":false
                }
            ]
        },
        {
            "name":"Second form radio",
            "type":"second_form_radio",
            "limit":2,
            "settings":[
                {
                    "type":"text",
                    "id":"heading",
                    "label":"Options Heading"
                },
                {
                    "type":"header",
                    "content":"Options"
                },
                {
                    "type":"text",
                    "id":"option_1",
                    "label":"Option 1 name"
                },
                {
                    "type":"text",
                    "id":"option_2",
                    "label":"Option 2 name"
                },
                {
                    "type":"text",
                    "id":"option_3",
                    "label":"Option 3 name"
                },
                {
                    "type":"text",
                    "id":"option_4",
                    "label":"Option 4 name"
                },
                {
                    "type":"text",
                    "id":"option_5",
                    "label":"Option 5 name"
                },
                {
                    "type":"text",
                    "id":"option_6",
                    "label":"Option 6 name"
                },
                {
                    "type":"text",
                    "id":"option_7",
                    "label":"Option 7 name"
                },
                {
                    "type":"text",
                    "id":"option_8",
                    "label":"Option 8 name"
                },
                {
                    "type":"checkbox",
                    "id":"option_other",
                    "label":"Show other option",
                    "default":false
                }
            ]
        },
        {
            "name":"Second form Contact",
            "type":"second_form_contact",
            "limit":1,
            "settings":[
                {
                    "type":"text",
                    "id":"heading",
                    "label":"Heading"
                },
                {
                    "type":"text",
                    "id":"name",
                    "label":"Your Name"
                },
                {
                    "type":"text",
                    "id":"email",
                    "label":"Email"
                }
            ]
        },
        {
            "name":"First form Order Details",
            "type":"first_form_order_details",
            "limit":1,
            "settings":[
                {
                    "type":"text",
                    "id":"heading",
                    "label":"Heading"
                },
                {
                    "type":"text",
                    "id":"name",
                    "label":"Your Name"
                },
                {
                    "type":"text",
                    "id":"email",
                    "label":"Email"
                },
                {
                    "type":"text",
                    "id":"order_id",
                    "label":"Order Id"
                },
                {
                    "type": "textarea",
                    "id": "note",
                    "label": "Note text"
                }
            ]
        },
        {
            "name":"Second form Order Details",
            "type":"second_form_order_details",
            "limit":1,
            "settings":[
                {
                    "type":"text",
                    "id":"heading",
                    "label":"Heading"
                },
                {
                    "type":"text",
                    "id":"order_id",
                    "label":"Order Id"
                },
                {
                    "type": "textarea",
                    "id": "note",
                    "label": "Note text"
                }
            ]
        },
        {
            "name":"Form Subscribe",
            "type":"form_subscribe",
            "limit":1,
            "settings":[
                {
                    "type":"text",
                    "id":"subscribe",
                    "label":"Subscribe text",
                    "default":"Subscribe Us to Get the Latest News"
                },
                {
                    "type":"text",
                    "id":"not_subscribe",
                    "label":"Do not Subscribe text",
                    "default":"Do not Subscribe"
                }
            ]
        }
    ],
    "presets": [
    {
      "name": "Warranty Form",
      "blocks": []
    }
  ]
}
{% endschema %}